In [80]:
import pandas as pd
vine_df = pd.read_csv('vine_data.csv')
vine_df.head()

C:\Data\Anaconda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase
0,R3W4P9UBGNGH1U,1.0,N,2,3.0,Y
1,R15V54KBMTQWAY,0.0,N,4,0.0,N
2,RY8I449HNXSVF,0.0,N,5,0.0,Y
3,R18TLJYCKJFLSR,0.0,N,5,0.0,Y
4,R1NK26SWS53B8Q,0.0,N,5,0.0,Y

In [115]:
vine_df= vine_df.loc[vine_df['total_votes'] >= 20]
vine_df.head()
len(vine_df)

vine_df['star_rating'] = pd.to_numeric(vine_df['star_rating'])

In [102]:
vine_df.describe()

       helpful_votes   star_rating   total_votes
count   72587.000000  72587.000000  72587.000000
mean       52.337774      3.442200     61.068249
std       110.205222      1.669856    115.557798
min         0.000000      1.000000     20.000000
25%        20.000000      1.000000     24.000000
50%        28.000000      4.000000     34.000000
75%        48.000000      5.000000     56.000000
max      5854.000000      5.000000   6063.000000

In [103]:
vine_df['helpful_ratio']=vine_df['helpful_votes']/vine_df['total_votes']

In [104]:
vine_df_helpful=vine_df[(vine_df['helpful_votes']/vine_df['total_votes'] >=0.5)]
vine_df_helpful.head()
len(vine_df_helpful)

65581

In [105]:
vine_df_paid=vine_df_helpful[(vine_df_helpful['vine'] == "Y")]
vine_df_paid.head()
len(vine_df_paid)

613

In [106]:
vine_df_unpaid=vine_df_helpful[(vine_df_helpful['vine'] == "N")]
vine_df_unpaid.head()
len(vine_df_unpaid)

64968

In [107]:
paid_review_count =len(vine_df_paid.index)
paid_review_count
print('paid_review_count='+ str(paid_review_count))
unpaid_review_count=len(vine_df_unpaid.index)
print('unpaid_review_count='+ str(unpaid_review_count))

paid_review_count=613
unpaid_review_count=64968

In [108]:
five_star_paid_count= vine_df_paid[(vine_df_paid['star_rating']==5)].count()[0]
five_star_paid_count

222

In [109]:
five_star_unpaid_count= vine_df_unpaid[(vine_df_unpaid['star_rating']==5)].count()[0]
five_star_unpaid_count

30543

In [111]:
ratio_five_star_paid=five_star_paid_count/paid_review_count
ratio_five_star_unpaid=five_star_unpaid_count/unpaid_review_count

In [112]:
print('ratio of 5 star review for paid is '+ str(ratio_five_star_paid))

ratio of 5 star review for paid is 0.3621533442088091

In [114]:
print('ratio of 5 star review for unpaid is '+ str(ratio_five_star_unpaid))

ratio of 5 star review for unpaid is 0.47012375323236055